USE [where_to_watch]
GO
/****** Object:  Table [dbo].[adminlogin]    Script Date: 3/6/2025 6:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[adminlogin](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[adminname] [varchar](50) NOT NULL,
	[adminusername] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_adminlogin] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MoviePlatforms]    Script Date: 3/6/2025 6:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviePlatforms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[PlatformID] [int] NULL,
	[IsFree] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movies]    Script Date: 3/6/2025 6:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[IMDbRating] [decimal](3, 1) NULL,
	[MovieDuration] [int] NULL,
	[ReleaseDate] [date] NULL,
	[PosterLink] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 3/6/2025 6:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platforms](
	[PlatformID] [int] IDENTITY(1,1) NOT NULL,
	[PlatformName] [nvarchar](255) NOT NULL,
	[WebsiteURL] [nvarchar](500) NULL,
	[PlatformLogo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/6/2025 6:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[adminlogin] ON 

INSERT [dbo].[adminlogin] ([aid], [adminname], [adminusername], [password]) VALUES (1, N'shyam', N'shyam', N'4812')
INSERT [dbo].[adminlogin] ([aid], [adminname], [adminusername], [password]) VALUES (2, N'krishna', N'krishna', N'1111')
SET IDENTITY_INSERT [dbo].[adminlogin] OFF
SET IDENTITY_INSERT [dbo].[MoviePlatforms] ON 

INSERT [dbo].[MoviePlatforms] ([ID], [MovieID], [PlatformID], [IsFree]) VALUES (4, 4, 2, 0)
INSERT [dbo].[MoviePlatforms] ([ID], [MovieID], [PlatformID], [IsFree]) VALUES (5, 4, 3, 1)
INSERT [dbo].[MoviePlatforms] ([ID], [MovieID], [PlatformID], [IsFree]) VALUES (6, 3, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[MoviePlatforms] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [MovieName], [Description], [IMDbRating], [MovieDuration], [ReleaseDate], [PosterLink]) VALUES (1, N'Dangal', N'Biographical sports drama about wrestler Mahavir Singh Phogat and his daughters.', CAST(8.4 AS Decimal(3, 1)), 161, CAST(N'2016-12-23' AS Date), N'https://images.justwatch.com/poster/244662457/s166/dangal.avif')
INSERT [dbo].[Movies] ([MovieID], [MovieName], [Description], [IMDbRating], [MovieDuration], [ReleaseDate], [PosterLink]) VALUES (2, N'3 Idiots', N'Comedy-drama about three engineering students and their life challenges.', CAST(8.4 AS Decimal(3, 1)), 170, CAST(N'2009-12-25' AS Date), N'https://images.justwatch.com/poster/115370120/s166/3-idiots.avif')
INSERT [dbo].[Movies] ([MovieID], [MovieName], [Description], [IMDbRating], [MovieDuration], [ReleaseDate], [PosterLink]) VALUES (3, N'Taare Zameen Par', N'A teacher helps a dyslexic child discover his true potential.', CAST(8.3 AS Decimal(3, 1)), 165, CAST(N'2007-12-21' AS Date), N'https://images.justwatch.com/poster/249788016/s166/taare-zameen-par.avif')
GO
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[Platforms] ON 

INSERT [dbo].[Platforms] ([PlatformID], [PlatformName], [WebsiteURL], [PlatformLogo]) VALUES (1, N'Netflix', N'https://www.netflix.com', N'https://upload.wikimedia.org/wikipedia/commons/7/75/Netflix_icon.svg')
INSERT [dbo].[Platforms] ([PlatformID], [PlatformName], [WebsiteURL], [PlatformLogo]) VALUES (2, N'Amazon Prime', N'https://www.primevideo.com', N'https://www.citypng.com/public/uploads/preview/white-square-amazon-prime-app-icon-701751695133980xffneuh8qp.png')
INSERT [dbo].[Platforms] ([PlatformID], [PlatformName], [WebsiteURL], [PlatformLogo]) VALUES (3, N'Jio Hotstar', N'https://www.hotstar.com/in/home?ref=%2Fin', N'https://media.licdn.com/dms/image/v2/D5612AQGZi7qw1JuwNQ/article-cover_image-shrink_720_1280/B56ZUE69FCHEAI-/0/1739544319212?e=2147483647&v=beta&t=HS8J8LBheelhH-13H6n7c8iZ85_LXYen-uQ_-iifdwg')
SET IDENTITY_INSERT [dbo].[Platforms] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Username], [password]) VALUES (1, N'karmur shyam', N'sk123', N'123')
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [password]) VALUES (8, N'jayesh', N'jayesh1452', N'111')
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [password]) VALUES (15, N'karmur shyam', N'shyam143', N'shyam@4812')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[MoviePlatforms]  WITH CHECK ADD FOREIGN KEY([PlatformID])
REFERENCES [dbo].[Platforms] ([PlatformID])
ON DELETE CASCADE
GO
